<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand hacked-font"><font face="impact"><a style="text-decoration: none" [routerLink]="['/home']">DBV</a></font></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li *ngIf="roleService.user || roleService.admin || roleService.manager"><a [routerLink]="['/home/restaurants']">Restaurants</a></li>
        <li *ngIf="roleService.user || roleService.admin || roleService.manager"><a [routerLink]="['/home/rezervationss']">Reservations</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" *ngIf="roleService.user"><a (click)="onProfile()">Profile</a></li>
        <li><a (click)="logout()"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
