<div class="login-area">
  <div class="bg-image">
    <div class="login-signup">
      <div class="container">
        <div class="login-header">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="login-logo">
              </div>
            </div>
          </div>
        </div>
        <div class="login-inner">
          <div class="title">
            <h1>Set <span>password!</span></h1>
          </div>
          <div class="login-form">
            <form (ngSubmit)="onSubmit(ff)" #ff="ngForm" id="logForm">
              <div class="form-details">
                <label class="user">
                  <input ngModel type="password" name="password1" id="password1" placeholder="Password">
                </label>
                <label class="pass">
                  <input ngModel type="password" name="password2" placeholder="Re-type" id="password2"> <br>
                  <span style="color: red" id="err_login"></span>
                </label>
              </div>
              <div align="center">
                <span #newPassErr style="color: red"></span>
              </div>
              <button type="submit" class="form-btn">Confirm</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
