<div class="container">
  <h1 align="center" style="margin-top: 70px">Restaurant form</h1>
  <hr>

  <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text"
                 class="form-control"
                 id="name"
                 name="name"
                 ngModel
                 required
                 (change)="checkRestaurantName($event)"
          >
          <small  *ngIf="nameExists" style="color: red">Name already exists!</small>

        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text"
                 class="form-control"
                 id="address"
                 name="address"
                 ngModel
                 required
          >

        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description" required ngModel></textarea>
    </div>


    <div class="form-group">
      <label for="manager">Manager</label>
      <select required ngModel name="manager" id="manager" class="form-control">
        <option disabled selected value> -- select manager -- </option>
        <option *ngFor="let manager of managers">{{'Username:'+manager.username+' Name:'+manager.name}}</option>
      </select>
    </div>

    <label>Position</label>
    <sebm-google-map [latitude]="lat" [longitude]="lng" (mapClick)="onMapClick($event)">
      <sebm-google-map-marker *ngIf="rlat != -1 && rlng != -1" [latitude]="rlat" [longitude]="rlng"></sebm-google-map-marker>
    </sebm-google-map>
    <br>

    <button type="submit" class="btn btn-primary" [disabled]="!f.valid || nameExists">Save</button>
    <a class="btn btn-danger" [routerLink]="['/home/admin']">Discard</a>

  </form>

</div>
