<div class="row moveDown">
  <div class="col-lg-5">
    <div class="container">
      <div class="fb-profile">
        <img align="left" class="fb-image-profile thumbnail" src="../../../images/user-default.png"
             alt="Profile image example"/>
        <div class="fb-profile-text">
          <h1>{{user.name + ' ' + user.surname}}</h1>
          <p> {{user.email}}</p>
        </div>
      </div>
      <div class="pull-left">
        <a [routerLink]="['/home/modifyUser']" style="color : black;" class="mouse"><span class="glyphicon glyphicon-pencil"></span></a>
      </div>
    </div>

  </div>
  <div class="col-lg-7" style="padding-top: 96px">
    <div class="tabbable-panel">
      <div class="tabbable-line">
        <ul class="nav nav-tabs ">
          <li (click)="getFriends()" class="active">
            <a href="#tab_default_1" data-toggle="tab">
              <span class="glyphicon glyphicon-user" style="font-size: 40px"></span> </a>
          </li>
          <li (click)="getNotFriends()">
            <a href="#tab_default_2" data-toggle="tab">
              <span class="glyphicon glyphicon-heart" style="font-size: 40px"></span> </a>
          </li>
          <li>
            <a href="#tab_default_3" data-toggle="tab">
              <span class="glyphicon glyphicon-info-sign" style="font-size: 40px"></span> </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<hr>

<div class="container-fluid">
  <div class="tab-content">
    <div class="tab-pane active" id="tab_default_1">
      <div class="container-fluid" style="margin-left: 28px">
        <ul class="nav nav-pills nav-stacked col-md-2">
          <li (click)="getFriends()" class="active"><a href="#friendsDiv" data-toggle="pill">Friends</a></li>
          <li (click)="getFriendRequests()"><a href="#friendRequestsDiv" data-toggle="pill">Friend requests</a></li>
        </ul>
        <div class="tab-content col-md-10">
          <div class="tab-pane active" id="friendsDiv">
            <div class="row">
              <div class="col-lg-5 col-lg-offset-3">
                <div class="input-group">
                  <input #inp type="text" class="form-control" placeholder="Search for friend..." style="height: 41px"
                         (keyup)="searchFriends(inp.value)">
                  <span class="input-group-btn">
              <button class="btn btn-primary" type="button" style="height: 41px">
              <span class="glyphicon glyphicon-search"></span>
             </button>
             </span>
                </div>
              </div>
            </div>
            <br><br>
            <div class="col-md-7 col-md-offset-2">
              <div class="row" *ngFor="let friend of friends">
                <div class="list-group-item">
                  <div class="thumbnail">
                    <div class="row">
                      <div class="col-sm-4">
                        <img style="height:140px;width:140px;" class="group list-group-image"
                             src="../../../images/user-default.png" alt=""/>
                      </div>
                      <div class="col-sm-8">
                        <div>
                          <div class="panel panel-default">
                            <div class="panel-heading">Name: {{friend.name}}</div>
                            <div class="panel-body">Surname: {{friend.surname}}</div>
                            <div class="panel-footer">Email: {{friend.email}}</div>
                            <br>
                            <div align="center" style="padding-bottom: 20px">
                              <button type="button" class="btn btn-success norMouse" disabled> Friends <span
                                class="glyphicon glyphicon-ok"> </span></button>
                              &nbsp;&nbsp;&nbsp;
                              <button class="btn btn-danger" (click)="deleteFriend(friend)"> Delete <span
                                class="glyphicon glyphicon-trash"> </span></button>
                              &nbsp;&nbsp;&nbsp;
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="friendRequestsDiv">
            <div class="row">
              <div class="col-md-7 col-md-offset-2">
                <div class="row" *ngFor="let friend of friendRequests">
                  <div class="list-group-item">
                    <div class="thumbnail">
                      <div class="row">
                        <div class="col-sm-4">
                          <img style="height:140px;width:140px;" class="group list-group-image"
                               src="../../../images/user-default.png" alt=""/>
                        </div>
                        <div class="col-sm-8">
                          <div>
                            <div class="panel panel-default">
                              <div class="panel-heading">Name: {{friend.name}}</div>
                              <div class="panel-body">Surname: {{friend.surname}}</div>
                              <div class="panel-footer">Email: {{friend.email}}</div>
                              <br>
                              <div align="center" style="padding-bottom: 20px">
                                <button type="button" class="btn btn-primary" (click)="acceptFriendRequest(friend)"> Accept &nbsp;
                                  <span class="glyphicon glyphicon-ok"> </span>
                                </button>
                                <button type="button" class="btn btn-danger" (click)="declineRequest(friend)"> Decline &nbsp;
                                  <span class="glyphicon glyphicon-trash"> </span>
                                </button>
                                &nbsp;&nbsp;&nbsp;
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab_default_2">
      <div class="container-fluid" style="margin-left: 28px">
        <ul class="nav nav-pills nav-stacked col-md-2">
          <li class="active" (click)="getNotFriends()"><a href="#notFriendsDiv" data-toggle="pill">New people</a></li>
          <li (click)="getRequestsSent()"><a href="#notFriendRequestsDiv" data-toggle="pill">Sent requests</a></li>
        </ul>
        <div class="tab-content col-md-10">
          <div class="tab-pane active" id="notFriendsDiv">
            <div class="row">
              <div class="col-lg-5 col-lg-offset-3">
                <div class="input-group">
                  <input #inp1 type="text" class="form-control" placeholder="Search for friend..." style="height: 41px"
                         (keyup)="searchPeople(inp1.value)">
                  <span class="input-group-btn">
              <button class="btn btn-primary" type="button" style="height: 41px">
              <span class="glyphicon glyphicon-search"></span>
             </button>
             </span>
                </div>
              </div>
            </div>
            <br><br>
            <div class="col-md-7 col-md-offset-2">
              <div class="row" *ngFor="let friend of notFriends">
                <div class="list-group-item">
                  <div class="thumbnail">
                    <div class="row">
                      <div class="col-sm-4">
                        <img style="height:140px;width:140px;" class="group list-group-image"
                             src="../../../images/user-default.png" alt=""/>
                      </div>
                      <div class="col-sm-8">
                        <div>
                          <div class="panel panel-default">
                            <div class="panel-heading">Name: {{friend.name}}</div>
                            <div class="panel-body">Surname: {{friend.surname}}</div>
                            <div class="panel-footer">Email: {{friend.email}}</div>
                            <br>
                            <div align="center" style="padding-bottom: 20px">
                              <button type="button" class="btn btn-primary" (click)="addFriendRequest(friend)"> Add friend <span
                                class="glyphicon glyphicon-user"> </span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="notFriendRequestsDiv">
            <div class="row">
              <div class="col-md-7 col-md-offset-2">
                <div class="row" *ngFor="let friend of requestsSent">
                  <div class="list-group-item">
                    <div class="thumbnail">
                      <div class="row">
                        <div class="col-sm-4">
                          <img style="height:140px;width:140px;" class="group list-group-image"
                               src="../../../images/user-default.png" alt=""/>
                        </div>
                        <div class="col-sm-8">
                          <div>
                            <div class="panel panel-default">
                              <div class="panel-heading">Name: {{friend.name}}</div>
                              <div class="panel-body">Surname: {{friend.surname}}</div>
                              <div class="panel-footer">Email: {{friend.email}}</div>
                              <br>
                              <div align="center" style="padding-bottom: 20px">
                                <button type="button" class="btn btn-danger" (click)="removeRequestSent(friend)"> Remove &nbsp;
                                  <span class="glyphicon glyphicon-trash"> </span>
                                </button>
                                &nbsp;&nbsp;&nbsp;
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab_default_3">
      <p>
        Howdy, I'm in Tab 3.
      </p>
      <p>
        Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci
        tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in
        hendrerit in vulputate velit esse molestie consequat
      </p>
      <p>
        <a class="btn btn-info" href="http://j.mp/metronictheme" target="_blank">
          Learn more...
        </a>
      </p>
    </div>
  </div>
</div>
