<div class="login-area">
  <div class="bg-image">
    <div class="login-signup">
      <div class="container">
        <div class="login-header">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="login-logo">

              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="login-details">
                <ul class="nav nav-tabs navbar-right">
                  <li #reg_li><a data-toggle="tab" href="#register">Register</a></li>
                  <li class="active" #log_li><a data-toggle="tab" href="#login">Login</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content">
          <div id="register" class="tab-pane" #reg_div>
            <div class="login-inner">
              <div class="title">

              </div>
              <div class="login-form">
                <form (ngSubmit)="onSubmitRegister(f.value)" #f="ngForm" id="regForm">
                  <div class="form-details">
                    <label class="mail">
                      <input #email ngModel type="email" name="email" required placeholder="Email address" id="registrationEmail" (change)="checkEmail(f.controls['email'].value)">
                      <br> <span style="color: red" id="err_span"></span>
                    </label>
                    <label class="pass">
                      <input ngModel type="password" name="password" placeholder="Password" id="registrationPassword" required minlength="5">
                    </label>
                    <label class="user">
                      <input ngModel type="text" name="name" placeholder="Name" id="name" required minlength="3">
                    </label>
                    <label class="user">
                      <input ngModel type="text" name="surname" placeholder="Surname" id="surname" required minlength="3">
                    </label>
                  </div>
                  <button type="submit" class="form-btn" [disabled] = "!f.valid || !canSubmitRegister">Send</button>
                </form>
              </div>
            </div>
          </div>
          <div id="login" class="tab-pane fade in active" #log_div>
            <div class="login-inner">
              <div class="title">
                <h1>Welcome <span>back!</span></h1>
              </div>
              <div class="login-form">
                <form (ngSubmit)="onSubmitLogin(ff.value)" #ff="ngForm">
                  <div class="form-details">
                    <label class="user">
                      <input ngModel type="text" name="email" id="email" placeholder="Email">
                    </label>
                    <label class="pass">
                      <input ngModel type="password" name="password" placeholder="Password" id="password"> <br>
                      <span style="color: red" id="err_login"></span>
                    </label>
                  </div>
                  <button type="submit" class="form-btn">Send</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




