<div class="row moveDown">
  <div class="col-lg-5">
    <div class="container">
      <div class="fb-profile">
        <img align="left" class="fb-image-profile thumbnail" src="../../../images/user-default.png"
             alt="Profile image example"/>
        <div class="fb-profile-text row">
          <div class="col-md-6">
            <h1>{{employee?.name + ' ' + employee?.surname}}</h1>
            <h3>{{employee?.address}}</h3>
            <h3>Restaurant: {{employee?.restaurant?.name}}</h3>
            <div>
              <a [routerLink]="['/home/modify-employee']" style="color : black;" class="mouse"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
          </div>
          <div>
            <br><br>
            <h4>Connfection number: {{employee?.confectionNum}}</h4>
            <h4>Shoe size: {{employee?.shoeSize}}</h4>
            <h4>Grade: {{getWaiterGrade()}}</h4>
          </div>
        </div>
      </div>
    </div>

  </div>
  <br><br><br><br><br>
  <div class="col-lg-7" style="padding-top: 96px">
    <div class="tabbable-panel">
      <div class="tabbable-line">
        <ul class="nav nav-tabs ">
          <li class="active">
            <a href="#tab_default_1" data-toggle="tab">
              <span class="glyphicon glyphicon-dashboard" style="font-size: 40px"></span> </a>
          </li>
          <li >
            <a href="#tab_default_2" data-toggle="tab">
              <span class="glyphicon glyphicon-calendar" style="font-size: 40px"></span> </a>
          </li>
          <li *ngIf="roleService.waiter">
            <a href="#tab_default_3" data-toggle="tab">
              <span class="glyphicon glyphicon-info-sign" style="font-size: 40px"></span> </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="tab_default_1">
      <div class="container-fluid" style="margin-left: 66px; margin-top: 66px;">
        <div class="row">
          <div class="col-md-11">
              <div class="pull-left">
                <button class="btn btn-primary" *ngIf="roleService.waiter" (click)="addOrder()">Add order</button>
              </div>
              <h1 style="margin-right: 121px;" align="center"><strong>Orders</strong></h1>
              <hr><hr>
              <div class="panel-body" id="mainpanel">
                <div class="panel-group">
                  <div class="panel panel-default" *ngFor="let order of orders">
                    <div class="panel-heading">
                      <div *ngIf="canWaiterFinish(order)" class="pull-right"><button style="margin-left:20px;margin-top: -8px;" (click)="waiterFinishOrder(order)"  class="btn btn-danger">Finish</button></div>
                      <div *ngIf="roleService.waiter" class="pull-right"><button  class="btn btn-warning" (click)="changeOrder(order)" style="margin-top: -8px; margin-left: 15px;">Change</button> </div>
                      <div *ngIf="roleService.chef && !order.chefFinished && order.chefAccepted" class="pull-right"><button style="margin-left:20px;margin-top: -8px;" (click)="chefFinishOrder(order)"  class="btn btn-danger">Finish order</button></div>
                      <div *ngIf="roleService.chef && !order.chefAccepted" class="pull-right"><button style="margin-left:20px;margin-top: -8px;" (click)="chefAcceptOrder(order)"  class="btn btn-primary">Accept order</button></div>
                      <div *ngIf="roleService.bartender && !order.bartenderFinished" class="pull-right"><button (click)="bartenderFinishOrder(order)" style="margin-left:20px;margin-top: -8px;"  class="btn btn-danger">Finish order</button></div>
                      <div class="pull-right"><button (click)="showOrderDetails(order)"  class="btn btn-success" style="margin-top: -8px;">More</button> </div>
                      <div class="row">
                        <div class="col-md-3">
                          <span><strong>Bartender:</strong> <span *ngIf="hasBartender(order)">{{order?.bartender?.name}}</span>
                            <span *ngIf="!hasBartender(order)">No bartender needed.</span></span><br>
                          <span *ngIf="hasBartender(order)"><strong> {{isBartenderFinished(order)}}</strong> </span><br>
                        </div>
                        <div class="col-md-2">
                          <span ><strong>Chef: </strong><span *ngIf="hasChef(order)">{{order?.chef?.name}}</span><span *ngIf="!hasChef(order)">No chef needed.</span></span><br>
                          <span *ngIf="hasChef(order)"><strong>{{isChefAccepted(order)}}</strong></span><br>
                          <span *ngIf="hasChef(order) && order.chefAccepted"><strong>{{isChefFinished(order)}}</strong></span>
                        </div>
                      </div>
                    </div>
                    <br>
                  </div>
                  <br><hr>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="tab_default_2">
      <br><br><br><br><br>
      <div class="container-fluid">
        <br><br><br>
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
              <div class="row">
                <div class="col-md-4">
                  <h2><strong>Date</strong></h2>
                </div>
                <div class="col-md-4">
                  <h2><strong>Employee</strong></h2>
                </div>
                <div class="col-md-4">
                  <h2><strong>Time</strong></h2>
                </div>
              </div>
              <hr><br>
              <div class="row" *ngFor="let sch of schedules">
                <div class="col-md-4">
                  <div class="agenda-date">
                    <div class="dayofmonth">{{getDay(sch)}}</div>
                    <div class="dayofweek">{{getMonth(sch)}}</div>
                    <div class="shortdate text-muted">{{getYear(sch)}}</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="agenda-time">
                    <h3>{{sch?.employee?.name}}</h3>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="agenda-time">
                    {{getShift(sch)}}
                  </div>
                </div>
                <hr><br>
              </div>
          </div>
        </div>
      </div>
      </div>
      <div class="tab-pane" id="tab_default_3">
        <br><br><br>
        <div style="margin-top: 100px;" class="col-md-8 col-md-offset-4">
          <div class="row"  *ngFor="let rs of todaySchedule?.segments">
            <div class="col-md-8">
              <h2 class="text-center" style="margin-right: 150px;"><strong>{{rs.name}}</strong></h2>
              <hr style="margin-right: 150px;"><br>
              <svg width="500" height="300" style="border: 1px solid black;background: #91c5cc">
                <filter id="image" x="0%" y="0%" width="100%" height="100%">
                  <feImage xlink:href="./images/table-texture.jpg"/>
                </filter>

                <rect filter="url(#image)" *ngFor="let t of rs.tables" style="cursor: pointer" attr.transform="{{'matrix(1 0 0 1 '+t.x+' '+t.y+')'}}"
                        cx="90" cy="90" width="125" height="71" stroke="green"  stroke-width="4" fill="yellow" />
              </svg>
            </div>
          </div>
      </div>


    </div>
  </div>



  <div *ngIf="moreOnOrderDialog"  class="modal fade show in danger" id="moreOnOrderDialog" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style = "border:2px yellow;">
          <button type="button" class="close" (click)="hideMoreOnOrderDialog()" data-dismiss="modal">&times;</button>
          <div align="center"><h2 class="modal-title">Order data</h2></div>
          <hr>
        </div>
        <div class="modal-body" style="overflow-y: scroll; height: 400px;">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <h2 *ngIf="hasBartender(orderForShow)">Bartender: {{orderForShow.bartender.name}}</h2>
                <h2 *ngIf="hasChef(orderForShow)">Chef: {{orderForShow.chef.name}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="table-title" *ngIf="hasChef(orderForShow) && (roleService.chef || roleService.waiter)">
                <h3 style="color: goldenrod">FOOD</h3>
              </div>
              <table class="table-fill" *ngIf="hasChef(orderForShow) && (roleService.chef || roleService.waiter)">
                <thead>
                <tr>
                  <th class="text-left">Name</th>
                  <th class="text-left">Description</th>
                  <th class="text-left">Price</th>
                  <th class="text-left">Category</th>
                </tr>
                </thead>
                <tbody class="table-hover">
                  <tr *ngFor="let mi of foodForShow">
                    <td class="text-left">{{mi.name}}</td>
                    <td class="text-left">{{mi.description}}</td>
                    <td class="text-left">{{mi.price}}$</td>
                    <td class="text-center"><img class="media-object" src="./images/food.png" style="width: 45px; height: 45px"></td>
                  </tr>
                </tbody>
              </table>
              <div class="table-title" *ngIf="hasBartender(orderForShow) && (roleService.bartender || roleService.waiter)">
                <h3 style="color: goldenrod">DRINKS</h3>
              </div>
              <table class="table-fill" *ngIf="hasBartender(orderForShow) && (roleService.bartender || roleService.waiter)">
                <thead>
                <tr>
                  <th class="text-left">Name</th>
                  <th class="text-left">Description</th>
                  <th class="text-left">Price</th>
                  <th class="text-left">Category</th>
                </tr>
                </thead>
                <tbody class="table-hover">
                <tr *ngFor="let menuItem of drinksForShow">
                  <td class="text-left">{{menuItem.name}}</td>
                  <td class="text-left">{{menuItem.description}}</td>
                  <td class="text-left">{{menuItem.price}}$</td>
                  <td class="text-center"><img class="media-object" src="./images/drink.jpg" style="width: 45px; height: 45px"></td>
                </tr>
                </tbody>
              </table>
            </div>

        </div>
        <div class="modal-footer">
          <br><br>
          <button type="button" class="btn btn-block btn-primary" (click)="hideMoreOnOrderDialog()">Ok</button>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div *ngIf="billDialog"  class="modal fade show in danger" id="billDialog" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style = "border:2px yellow;">
          <button type="button" class="close" (click)="hideBillDialog()" data-dismiss="modal">&times;</button>
          <div align="center"><h2 class="modal-title">Order data</h2></div>
          <hr>
        </div>
        <div class="modal-body" style="overflow-y: scroll; height: 400px;">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <h2 *ngIf="hasBartender(orderOnBill)">Bartender: {{orderOnBill.bartender.name}}</h2>
                <h2 *ngIf="hasChef(orderOnBill)">Chef: {{orderOnBill.chef.name}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="table-title" *ngIf="hasChef(orderOnBill) && (roleService.chef || roleService.waiter)">
                <h3 style="color: goldenrod">FOOD</h3>
              </div>
              <table class="table-fill" *ngIf="hasChef(orderOnBill) && (roleService.chef || roleService.waiter)">
                <thead>
                <tr>
                  <th class="text-left">Name</th>
                  <th class="text-left">Description</th>
                  <th class="text-left">Price</th>
                  <th class="text-left">Category</th>
                </tr>
                </thead>
                <tbody class="table-hover">
                <tr *ngFor="let mi of foodForShow">
                  <td class="text-left">{{mi.name}}</td>
                  <td class="text-left">{{mi.description}}</td>
                  <td class="text-left">{{mi.price}}$</td>
                  <td class="text-center"><img class="media-object" src="./images/food.png" style="width: 45px; height: 45px"></td>
                </tr>
                </tbody>
              </table>
              <div class="table-title" *ngIf="hasBartender(orderOnBill) && (roleService.bartender || roleService.waiter)">
                <h3 style="color: goldenrod">DRINKS</h3>
              </div>
              <table class="table-fill" *ngIf="hasBartender(orderOnBill) && (roleService.bartender || roleService.waiter)">
                <thead>
                <tr>
                  <th class="text-left">Name</th>
                  <th class="text-left">Description</th>
                  <th class="text-left">Price</th>
                  <th class="text-left">Category</th>
                </tr>
                </thead>
                <tbody class="table-hover">
                <tr *ngFor="let menuItem of drinksForShow">
                  <td class="text-left">{{menuItem.name}}</td>
                  <td class="text-left">{{menuItem.description}}</td>
                  <td class="text-left">{{menuItem.price}}$</td>
                  <td class="text-center"><img class="media-object" src="./images/drink.jpg" style="width: 45px; height: 45px"></td>
                </tr>
                </tbody>
              </table>

            </div>
            <div>
              <hr><hr>
              <h3 class="pull-right"><strong>Total: </strong>${{getTotal()}}</h3>
              <br>
              <br>
            </div>
          </div>
          <div class="modal-footer">
            <br><br>
            <button type="button" class="btn btn-block btn-primary" (click)="createBill()">Print</button>
            <button type="button" class="btn btn-block btn-danger" (click)="hideBillDialog()">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>
